<!DOCTYPE html>
<html xmlns:th = "http://thymeleag.org"
	  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>Produto</title>
</head>	  
	  <h1>Cadastro Produto</h1>
	  <form action="/web/produto/save" method = "post">
	  	Nome: <input type = "text" id = "urlImg" value = "" name="nome">
	  	Valor: <input type = "text" id = "valor" value = "" name="valor">
	  	Descriçao: <input type = "text" id = "desc" value = "" name="desc">
	  	Img: <input type = "text" id = "urlImg" value = "" name="urlImg">
	  	<button type = "submit">Salvar</button>	  
	  </form>
	  
</html>